{% extends "baseTemplate.html" %}

{% block title %}{{ super() }} - anarLondo{% endblock %}

{% block body %}
    {{ super() }}
        <div class="main">
            <div class="white-text clearfix"><h3 class="font-weight-bold white-text"><u><img class="bonfire" src="/static/images/bonfire.png">Anor Londo</u></h3>
                <p class="white-text">
                    Anor Londo is a Location in Dark Souls 3. The legendary city of the gods that has since been taken over by Aldrich, Devourer of Gods. 
                    Once radiant and warm with sunlight, it is now entirely dark and cold due to the absence of Dark Sun Gwyndolin.
                </p>
                <div class ="white-line">
                    </div>
                <div class="text-center">
                    <img class="cover-image2" src="/static/images/maps_cover_1.jpg">
                </div>
            </div>
             <!-- secondary divs-->
             <div class ="white-line">
             </div>
             <br>
            <div class="clearfix">
                <div class="white-text "><h3 class="font-weight-bold white-text"><u><img class="bonfire" src="/static/images/bonfire.png">Map Info</u></h3>
                    <img class="description-image2 rounded float-right" src="/static/images/anor_londo_map2.webp">
                    <p class="white-text">After you defeat the Iron Golem on the roof of Sen’s Fortress, you’ll discover a ring of light. 
                        Investigating it will summon a trio of Batwing Demons that will carry you to the city of Anor Londo.
                    </p>
                    <div class="white-text "><h3 class="font-weight-bold white-text"><u><img class="bonfire" src="/static/images/bonfire.png">Blades of the Darkmoon Covenant</u></h3>
                        <p class="white-text">To find the Blades of the Darkmoon covenant, return to the rotating platform and go down the spiral steps 
                            to the platform that appears to now lead nowhere. Step off to walk onto an invisible bridge and head right to drop off onto a tower. 
                            Light the Bonfire here and walk to the left to meet Company Captain Yorshka, leader of the Blades of the Darkmoon. If you enter this 
                            tower you can drop down the plank ledges carefully to reach a beam with the Painting Guardian's Curved Sword. Drop down a few more 
                            ledges to find the Painting Guardian Set. Drop down the rest of the way to come into the bonfire room in Irithyll of the Boreal Valley. 
                            Port back to the bonfire in Anor Londo to continue your journey.
                        </p>
                    </div>
                    <div class="white-text "><h3 class="font-weight-bold white-text"><u><img class="bonfire" src="/static/images/bonfire.png">Opening the Main Gate</u></h3>
                        <p class="white-text">From the Bonfire, walk up the staircase towards the castle. As you ascend the stairs there are two silver knights who will attack 
                            you. Deal with them and just to the left at the top of the stairs you will find Large Soul of a Weary Warrior 1x, then head to the right where you 
                            will encounter a red eyed Silver Knight. Loot a corpse here for Soul of a Crestfallen Knight 1x. Continue left and enter the open door where the dead 
                            giant blacksmith lies and in his hand find the Giant's Coal and then continue up the stairs, into the dark main chamber. Turn right and look over the 
                            ledge and you can see the fog gate where the boss awaits.<br><br>
                            Continue down the stairs but be wary of the pyromancers casting fireballs from the other side. Near them is a corpse with Proof of a Concord 
                            Kept 1x. Most of the old passages have been filled in with rubble. Head down into the main chamber and dispatch the deacon pyromancers and slimes. 
                            Head to the opposite staircase to loot Moonlight Arrow 5x. Continue to the corner to find the revolving switch that opens the main double doors into the castle. 
                            There is a Deep Accursed waiting for you here, be careful not to be cursed by the white fog he breathes. Defeat him to earn Aldrich's Ruby. Once the doors are opened 
                            this area can be much more easily accessed from the bonfire at the base of the castle.
                        </p>
                    </div>
                    <div class="white-text "><h3 class="font-weight-bold white-text"><u><img class="bonfire" src="/static/images/bonfire.png">Anri of Astora's Questline</u></h3>
                        <p class="white-text">Step out the now opened main doors and if you've been progressing Anri of Astora's quest line, to the left you will see a 
                            purple sign on the floor which says "Touch sign requesting cooperation". Triggering it will ask you if you will answer Anri's call for cooperation 
                            and be summoned as a phantom. If you accept, you will enter their world as a phantom to assist them with defeating Aldrich, Devourer of Gods in their 
                            world. If you are successful in defeating Aldrich you will be returned back to your world, where the purple glow will now have a golden hue. Defeating 
                            Aldrich here does not count as defeating him in your world.
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}